aniso8601==3.0.2
argh==0.26.2
attrs==21.2.0
graphene==2.1.2
graphene-sqlalchemy==2.0.0
graphql-core==2.3.2
graphql-relay==0.4.5
iso8601==0.1.12
more-itertools==8.10.0
packaging==21.0
pluggy==0.13.1
polaris.graphql @ file:///project
promise==2.3
py==1.5.3
pyparsing==2.4.7
pytest==5.4.3
Rx==1.6.1
singledispatch==3.4.0.3
six==1.10.0
SQLAlchemy==1.2.19
wcwidth==0.2.5
