aniso8601==7.0.0
argh==0.26.2
attrs==21.2.0
graphene==2.1.9
graphql-core==2.3.2
graphql-relay==2.0.1
iniconfig==1.1.1
packaging==21.2
pluggy==1.0.0
polaris.graphql @ file:///project
promise==2.3
py==1.11.0
pyparsing==2.4.7
pytest==6.2.5
Rx==1.6.1
six==1.16.0
SQLAlchemy==1.2.19
toml==0.10.2
